/* Background Images and Footer */
#MPCopyright {
	clear: both;
	float: none;
	text-align: center;
}

/* Color Picker */
/********************* Basics **************************/ /*  body {      color: ;  }  */ /*  a {      color: ;  }  */ /*  a.user-content-mention {      color: ;  }  */ /*  a:hover {      color: ;  }  */ /*  a.user-content-mention:hover {      color: ;  }  */ /*  .bodyBackground {      background-color: ;  }  */ /*  .siteFrame {      background-color: ;  }  */ /*  #MPOuterMost {      border-color: ;  }  */
h1, .Heading1 { /*color: ;*/ /*background-color: ;*/
}

h2, .Heading2, h2 a, h2 a:hover, .text-muted-h2 h2 { /*color: ;*/ /*background-color: ;*/
}

h3, .Heading3, h3 a, h3 a:hover { /*color: ;*/ /*background-color: ;*/
}

/*  hr, hr.delimiter, .HLLandingControl ul li {      border-bottom-color: ;  }  */
#MPOuterFooter { /*background-color: ;*/ /*color: ;*/
}

/*  fieldset {      border-color: ;  }  */
fieldset legend { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

/*  .SearchResults .SortBy {      color: ;  }      */ /*********************** Landing Controls ******************/
.HLLandingControl .heading, .HLLandingControl h2, .headerItem, .drItemSubHeader { /*background-color: ;*/ /*color: ;*/
}

/*  .drItemSubHeader a{         color: ;  }  */
.ContentUserControl .HLLandingControl, .ContentUserControl.HLLandingControl, .ContentItemHtml.HLLandingControl { /*border-color: ;*/ /*color: ;*/ /*background-color: ;*/
}

/*  .HLLandingControl .Content a:not(.btn) {      color: ;  }  */ /*  .HLLandingControl .ByLine {      color: ;  }  */ /*  .HLLandingControl h5, .HLLandingControl h4, .HLEngagement h3 {      color: ;  }  */ /*  .HLLandingControl .Content h3 a, .HLAnnouncements .Content h2 a, .HLRSSReader .Content h2 a {      color: ;  }    */ /************************ Tabs **********************/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

/*  .nav-tabs {      border-bottom-color: ;  }  */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav .open > a:hover, .nav .open > a:focus { /*background-color: ;*/ /*border-bottom-color: ;*/ /*color: ;*/
}

.nav-tabs > li > a { /*background-color: ;*/ /*color: ;*/
}

/************************ Miscellaneous **********************/ /*  .SloganText {      color: ;  }  */
.ModalPopupHeading, .CustomTableModalPopup .CustomTableModalPopupHeaderRow { /*background-color: ;*/ /*color: ;*/
}

/*  .lblratingBig {      color: ;  }  */ /************************ Tables **********************/
.Container thead .Header td, th, .ListContainer .ListHeader, .drItemSubHeader, .table-thead-background tr th { /*background-color: ;*/ /*color: ;*/
}

/*  th a, th a:hover  {      color: ;  }  */ /*  .TableRowAlternate, .table-hover > tbody > tr:hover > td  {      background-color: ;  }    */ /************************ Menus ***********************/ /*  #MPAuxNav ul.level1 li a {      color: ;  }  */ /*  #MPAuxNav ul.level1 li ul {      background-color: ;  }  */ /*  #MPAuxNav ul.level1 li li.dynamic {      border-right-color: ;  }  */ /*  #SideMenu ul.level1 li ul {      background-color: White;  }  */ /*  .MPSideNavBottom {      color: #0069A5;  }  */ /*  .breadcrumb {      background-color: ;  }  */ /*  .breadcrumb li {      color: ;  }  */ /*  .breadcrumb li a {      color: ;  }  */ /*  .MPBottomMenu ul li a {      color: ;  }        */ /************************ Bootstrap Menus ***********************/ /*  .navbar-default, #NAV {      background-color: ;      border-color: ;  }  */ /*  .navbar-default .navbar-nav > li > a {      color: ;  }  */
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > li > a:hover { /*background-color: ;*/ /*color: ;*/
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { /*background-color: ;*/ /*color: ;*/
}

/*  #MPButtonBar .dropdown-menu {      background-color: ;  }  */ /*  #MPButtonBar .dropdown-menu li a {      color: ;  }  */ /*  #MPButtonBar .dropdown-menu li a:hover,    #MPButtonBar .dropdown-menu li a:focus {       background-color: ;  }  */
#MPButtonBar .dropdown-menu .active > a, #MPButtonBar li .dropdown-menu .active > a:hover, #MPButtonBar .dropdown-menu .dropdown-menu .active a:hover, #MPButtonBar .dropdown-menu .dropdown-menu .active a:hover { /*background-color: ;*/ /*color: ;*/
}

/*  #MPButtonBar .dropdown-menu {      border-color: ;  }  */ /************************ Bootstrap Buttons ***********************/
.btn-primary, .ui-widget-content a.btn-primary { /*background-color: ;*/ /*border-color: ;*/ /*color: !important;*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open .dropdown-toggle.btn-primary { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-info { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .open .dropdown-toggle.btn-info { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-success { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .open .dropdown-toggle.btn-success { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-danger { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .open .dropdown-toggle.btn-danger { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-default { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .open .dropdown-toggle.btn-default { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.pagination > .active > span, .pagination > .active > span:hover, .pagination li.active > a, .pagination li.active > a:hover { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.pagination > li > a { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.pagination > li > a:hover { /*background-color: ;*/ /*border-color: ;*/ /*color: ;*/
}

.label-default { /*background-color: ;*/ /*color: ;*/
}

.badge, .badge a, a.badge a:hover { /*background-color: ;*/ /*color: ;*/
}

.modal-header { /*background-color: ;*/ /*color: ;*/
}

.modal-body, .panel-body { /*background-color: ;*/ /*color: ;*/
}

.modal-footer, .panel-footer { /*background-color: ;*/
}

/*  #MPFooterLink {      background-color: ;  }  */ /*  #MPFooterLink a {      color: ;  }  */ /*  .faceted-search-main .facets .header {      color: ;  }  */ /*  .faceted-search-main .facets .header {      background-color: ;  }  */
/* CSS Overrides */
.home .AdSpot {
	margin-bottom: 2em;
}

blockquote::before, blockquote::after {
	color: #fff;
	font-family: "Roboto";
	font-size: 50px;
}

blockquote::after {
	content: "\201D";
	line-height: 10px;
	position: relative;
	top: 2rem;
}

.sponsorlinks .HtmlContent {
	display: inline-block;
	border-top: 1px solid #fff;
	padding-top: 1.5em;
}

.sponsorlinks, .sponsorlinks a {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.sponsorlinks a {
	font-weight: bold
}

.sponsorlinks strong {
	padding-right: 20px;
	display: inline-block;
	font-weight: normal
}

.sponsorlinks {
	padding: 1em;
}

p.begin-time {
	font-weight: bold;
	color: #004060;
}

.MPRightAds {
	margin-top: 395px;
}

#MPOuter + #MPTopOfPageAds {
	margin-top: 0;
}

h1 {
}

.HtmlContent p + h3 {
	margin-top: 2em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
	opacity: .8
}

.btn.btn-primary.btn-search {
	background: transparent none repeat scroll 0 0;
	border: 1px solid white;
	float: right;
	height: 42px;
	line-height: 22px;
	margin-right: 90px;
	margin-top: -58px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18px;
}

#MainCopy_ContentWrapper > .row > .col-md-12 > p {
	padding: 2em 0px 5em;
}

.row.MPTopOfPageAds.siteFrame {
	margin-bottom: 2em;
	margin-top: -1em;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #eee;
	color: #444
}

body .hero h2::after {
	content: none;
}

body .hero h2 {
	bottom: 8px
}

.navbar-toggle::before {
	color: #fff;
	content: "MENU";
}

.hero sup {
	font-size: 65%
}

.navbar-toggle .icon-bar {
	display: none
}

.navbar-toggle {
	display: block;
	float: right;
	margin-top: -58px;
	border-radius: 0px !important
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0px !important
}

button.slick-arrow {
	display: none !important
}

.slick-dots {
	margin-top: 1em;
	padding-left: 0px
}

.slick-dots li {
	display: inline-block;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	overflow: hidden;
	background: #cbcbcb;
	margin: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.slick-dots li.slick-active {
	background-color: #F47700
}

.slick-slide img {
	margin: 0px auto
}

#MPContentArea p, #MPContentArea li {
	line-height: 2
}

h1, h2, h3, h4 {
	font-family: 'Roboto'
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(1, 1, 1, 0.05);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #fff;
}

.navbar-nav > li > .dropdown-menu {
	border: 0px none
}

.nav.navbar-nav .dropdown-menu > ul.dropdown-menu {
	text-align: left
}

.nav.navbar-nav .dropdown-menu > ul.dropdown-menu li {
	padding-left: 0px;
	margin-left: 0px
}

.networking {
	padding-right: 15px;
	padding-left: 15px;
}

.networking .fa {
	color: #C4C7C8;
	padding-right: 5px;
}

.footer2 .networking .fa {
	color: #fff
}

.footer2 a {
	text-decoration: none;
}

.footer2 a:hover {
	color: #fff;
	opacity: .8
}

.col-credits a {
	font-weight: bold
}

.col-credits .fa {
	font-size: 20px;
	padding: 0px 8px;
}

.col-md-6.col-credits span {
	white-space: nowrap;
}

.col-md-6.col-credits span {
	vertical-align: middle;
}

#MPFooterLink {
	display: none;
}

.MPBottomMenu ul.level2 {
	padding-left: 0px;
	margin-left: 0px
}

#FOOTER ul.level2 li a {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: .5em;

}

.FatFooterMenu > li > a {
	font-weight: bold;
	padding-bottom: 8px;
	display: block;
	white-space: nowrap
}

.footer2 {
	background-color: #004161;
	padding: 1.3em 0 1.1em
}

.footer2, .footer2 * {
	color: #fff
}

.footer2 {
	font-size: 13px;
}

.HtmlContent img {
	max-width: 100%
}

.btn {
	border-radius: 0px !important
}

.HtmlFooter {
	display: none
}

iframe {
	max-width: 100%
}

#MPAuxNav ul.level1 li a {
	text-decoration: none;
	font-size: 14px;
	border-right: 0px none;
	color: #000
}

.home #MPAuxNav ul.level1 li a {
	color: #fff;
}

.miniagenda .nav-tabs li.active a {
	color: #004060
}

.miniagenda .nav-tabs li.active a {
	background-color: #FEBE10
}

.miniagenda > div {
	border: 1px solid #ccc
}

.miniagenda .tab-content {
	padding-left: 20px;
	padding-right: 20px
}

.miniagenda li.active a {
	z-index: 2;
	position: relative;
}

.bodyBackground {
	background-color: #003f5f;
	font-size: 16px;
	font-family: 'Open Sans'
}

.bodyBackground.interior {
	background-color: #fff
}

#MPOuter, .breadcrumb {
	background-color: #fff
}

.breadcrumb li:last-child a {
	color: #888;
	text-decoration: none;
}

.form-control:focus + div .glyphicon {
	opacity: .2
}

.home .row > div {
	min-height: 0px
}

div#MPOuterHeader {
	transition: background-color 0.5s ease;
}

#MPOuterFooter {
	background: #5F6A72
}

#MPOuterFooter li a {
	color: #fff;
	text-decoration: none;
}

.SearchInputs input {
	color: #fff;
}

 .interior #MPOuterHeader {
	background-color: rgba(255, 255, 255, 0.9);
}

.fa {
	color: #8D8D8A
}

.navbar-default .navbar-nav > li > a {
	color: #fff
}

.MPOuter .navbar-default .navbar-nav > li > a,
.MPOuter #MPAuxNav ul.level1 li a {
	color: #5F6A72
}

.interior .addedsearch, .MPOuter .addedsearch {
	border-color: #939393
}

.interior .addedsearch .glyphicon,
.MPOuter .addedsearch .glyphicon {
	color: #5F6A72
}

#DesktopLogoDiv img {
	max-width: 150px;
	visibility: hidden;
}

.col-contact img {
	max-width: 150px;
	margin-left: -5px
}

.col-app {
	padding-top: 1em;
}

.col-app strong {
	display: block;
	padding-bottom: .5em
}

.col-quote {
	color: #fff
}

.col-quote blockquote {
	background-color: transparent;
	border-left: 0px;
	color: #fff;
	margin-bottom: 1em
}

.quoteby {
	padding-left: 2em
}

a.app {
	display: inline-block;
	background-size: cover;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid #fff;
}

.app img {
	visibility: hidden;
	max-width: 185px;
}

a.app.google {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/google-white.png')
}

a.app.apple {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/apple-white.png')
}

a.app.google:hover {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/google-hover.png')
}

a.app.apple:hover {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/apple-hover.png')
}

#DesktopLogoDiv a {
	display: block;
	max-width: 150px;
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-white.png');
	background-size: cover
}

body.MPOuter #DesktopLogoDiv a,
body.interior #DesktopLogoDiv a {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-color.png');
}

.pad1 {
	padding-top: 4em;
	padding-bottom: 4em;
	background: #fff;
}

.bg-blue, .bg-blue-inner .HtmlContent {
	background-color: #003F5F
}

.bg-gray {
	background-color: #F9F9F9
}

.hero.pad1 {
	background-color: transparent
}

.hero .btn.btn-primary {
	font-size: 21px;
	margin-top: .5em
}

.hero {
	padding-bottom: 4em
}

.hero h3 {
	font-size: 36px;
}

.hero h3 em, .hero p .fa, .quoteby span {
	font-style: normal;
	color: #FEBE10
}

.hero p .fa {
	margin-left: 10px;
	margin-right: 10px
}

.hero p .fa-calendar-o {
	margin-left: 20px
}

.featured-speakers img {
	border-radius: 50%;
	margin-bottom: 15px
}

.numbers b {
	font-size: 72px;
	font-weight: normal
}

.navbar-default {
	background: transparent;
	border: 0
}

#DateCountdown {
	margin: 1em auto 2em;
	max-width: 530px !important
}

#DateCountdown h4 {
	position: absolute;
	bottom: -75px;
	width: 100%;
	font-size: 16px !important;
}

.time_circles > div::before {
	background: #15abe8 none repeat scroll 0 0;
	border-radius: 50%;
	bottom: 0;
	content: "";
	display: block;
	height: 110px;
	left: 12px;
	position: absolute;
	top: -35px;
	width: 110px;
	z-index: 1;
	border: 3px solid rgba(255, 255, 255, .5);
}

.time_circles > div * {
	z-index: 2;
	position: relative;
}

.time_circles > div > span {
	font-size: 45px !important
}

.home h2, .hstyle1 h2 {
	bottom: 1em;
	position: relative;
}

.home h2::after, .hstyle1 h2::after {
	content: "";
	display: block;
	height: 2px;
	background: #FEBE10;
	width: 65px;
	margin: 15px auto 0px;
}

.block {
	border: 1px solid #C6C6C6;
	padding-bottom: 1em;
	margin-top: 1em;
}

.block h3, .block p {
	padding-left: 2em;
	padding-right: 2em
}

.block h3 {
	font-size: 20px;
	padding-left: 1em;
	padding-right: 1em;
}

.contain-inner .HtmlContent, .ContentUserControl.contain-inner {
	max-width: 1100px;
	margin: 0px auto
}

.hero .HtmlContent {
	max-width: 1200px
}

.interior .contain-inner .HtmlContent, .interior .ContentUserControl.contain-inner {
	max-width: 1200px;
	margin: 0px auto
}

.contain-inner.blocks .HtmlContent {
	max-width: 1100px;
	margin: 0px auto
}

.reverse p, .reverse span, .reverse h2, .reverse h3, .reverse h4 {
	color: #fff
}

.miniagenda .nav-tabs > li {
	text-align: center;
	width: 100%
}

.home h2 {
	text-align: center
}

.HLWelcome.HLWelcomeHeader {
	display: none
}

.addedsearch {
	border: 1px solid #fff;
	position: relative;
	top: 8px
}

.addedsearch .glyphicon {
	color: #fff
}

.addedsearch .form-control, #HEADER .networking a {
	position: relative;
	z-index: 3;
}

#AuxMenu {
	position: relative;
	z-index: 3;
}

.addedsearch * {
	background: transparent;
	border: 0
}

.home #MPOuter {
	padding-top: 0px !important
}

.home .hero {
	background-position: top center;
	background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw2018_hero%20image.jpg");
	padding-top: 200px;
}

.bg2 {
	background-image: url('https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/bg2.jpg');
	background-size: cover;
	background-position: center
}

#HEADER .SearchInputs .btn.btn-default.dropdown-toggle {
	display: none;
}

.home .btn-primary, .block .btn-primary, a.btn.cta, .btn-cta {
	background-color: #F47700;
	border: 0px none;
	color: #fff;
	font-size: 18px;
	padding: .5em 2em;
	margin-top: 1.5em
}

.home .btn-primary:hover,
.block .btn-primary:hover, .btn.cta:hover {
	background-color: #FEBD00;
	color: #004060;
}

.btn.btn-clear {
	background: transparent;
	border: 2px solid #fff;
}

.ContentUserControl.addedsearch {
	max-width: 210px;
	float: right;
}

.footer1 {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	font-size: 14px
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.miniagenda .nav-tabs > li {
		width: 25%;
	}

	.nav .dropdown-menu > li a:hover {
		background-color: #eee;
		color: #444
	}

	.addedsearch button.btn-default {
		padding-top: 0px;
	}

	.addedsearch .form-control {
		height: 28px;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	#HEADER .networking {
		float: right;
		padding-top: 10px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.sponsorlinks .HtmlContent {
		padding-left: 3em;
		padding-right: 3em;
	}

	p.day {
		font-size: 24px;
		margin: 2em 0
	}

	.interior #MPOuter {
		padding-top: 0px !important
	}

	.btn-search {
		display: none
	}

	.interior .ContentItemHtml > h2 {
		margin-bottom: 20px;
	}

	.datetime {
		font-weight: 600
	}

	.navbar-toggle {
		display: none;
	}

	.miniagenda li.active::after {
		display: block;
		content: "";
		background: #FEBE10;
		width: 25px;
		height: 25px;
		position: absolute;
		left: 45%;
		bottom: -12px;
		transform: rotate(45deg);
		z-index: 1;
	}

	body.bodyBackground {
		font-size: 18px
	}

	.col-credits span a:first-child {
		padding-left: 10px
	}

	.miniagenda .tab-content .tab-pane div {
		position: relative;
		margin-bottom: 2em;
		padding-left: 20%
	}

	.miniagenda .tab-content .tab-pane div p.begin-time {
		position: absolute;
		left: 0px;
	}

	.nav.navbar-nav .dropdown-menu > ul.dropdown-menu {
		margin-left: 10px
	}

	.col-credits {
		text-align: right
	}

	.FatFooterMenu.list-inline {
		display: table;
		width: 100%
	}

	.FatFooterMenu.list-inline > li {
		display: table-cell;
	}

	.col-quote {
		padding-left: 3em;
		padding-right: 3em;
		padding-top: 1em
	}

	.margin-top.article-image {
		margin-top: 4em;
		padding-left: 3em;
	}

	.navbar-nav {
		float: none;
		text-align: center
	}

	.navbar-nav > li {
		float: none;
		display: inline-block
	}

	.col-media {
		padding-left: 0px
	}

	.col-media iframe {
		float: left
	}

	.interior #ContentColumn {
		position: static
	}

	.interior #MPOuter {
		background: transparent
	}

	.interior #PageTitleH1 {
		color: #fff;
		margin-bottom: 2em !important;
		margin-top: 7em !important
	}

	.interior #PageTitleH1::before {
		background: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/interior-bg.jpg") repeat scroll center bottom / cover;
		content: "";
		display: block;
		height: 360px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.col-md-3.col-contact::before {
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		content: "";
		left: -10px;
		position: absolute;
		top: 0;
		width: 1px;
	}

	.col-event {
		padding: 0px
	}

	.home #MPOuter {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.sponsors img {
		max-height: 90px;
		margin: 10px 30px;
	}

	.sponsors img[src*="ssat"], .sponsors img[src*="asge"] {
		max-height: 120px;
		margin-right: 0px;
	}

	#Logo {
		margin-top: -40px
	}

	.col-app {
		padding-right: 5%;
		padding-left: 5%
	}

	.interior .footer1 {
		margin-top: 4em
	}

	.footer1 {
		margin-top: 2em;
	}

	#MPOuterFooter {
		padding: 3em 0px 3.5em
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.home .hero {
		background-repeat: repeat-x;
		background-size: cover
	}

	.home h2 {
		font-size: 42px
	}

	#DesktopLogoDiv a, #DesktopLogoDiv img {
		max-width: 200px;
	}

	.hero h3 {
		font-size: 60px;
	}

	.hero p {
		font-size: 26px;
	}

	#DateCountdown {
		margin-bottom: 3em;
		margin-top: 2em
	}

	.nav .dropdown-menu {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.nav .dropdown-menu li {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	.navbar-nav li:last-child .dropdown-menu, .navbar-nav li:nth-last-child(2) .dropdown-menu {
		left: inherit;
		right: 0
	}

	.navbar-nav > li > .dropdown-menu {
		min-width: 370px;
		padding: 20px;
		width: 510px
	}

	.navbar-nav .dropdown-menu > li > a {
		display: block;
		white-space: normal;
		border-bottom: 0px solid #ccc;
	}

	.nav.navbar-nav .dropdown-menu > ul.dropdown-menu {
		margin-bottom: 5px;
		margin-top: -3px
	}

	.nav .dropdown-menu > li {
		border-bottom: 1px solid #C4C7C8;
		margin-bottom: 1em;
	}

	.nav .dropdown-menu > li a {
		padding-left: 0px !important;
		margin-left: 0px !important
	}

	.nav.navbar-nav .dropdown-menu > ul.dropdown-menu {
		padding-left: 0px;
		margin-left: 0px
	}

	.nav ul.dropdown-menu a {
		color: #888;
	}

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

	.interior .row-wide div[class*="section"] {
		padding-left: 0px;
		padding-right: 0px;
	}

	.ContentItemHtml {
		padding-left: 15px;
		padding-right: 15px;
	}

	.MPBottomMenu ul.level2 {
		display: none
	}

	#MPOuterHeader {
		background: rgba(1, 1, 1, .8) !important
	}

	#DesktopLogoDiv a {
		background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-white.png") !important;
	}

	.col-md-3.col-event > img {
		max-width: 200px;
	}

	#MPheader > .row:first-child, .ContentUserControl.addedsearch {
		display: none
	}

	#HEADER .networking {
		display: none
	}

	#MPOuterHeader.stickyNav-full {
		height: 80px;
	}

	.navbar-collapse.navbar-ex1-collapse.collapse {
		display: none !important
	}

	.navbar-collapse.navbar-ex1-collapse.in {
		display: block;
		background-color: rgba(255, 255, 255, 1)
	}

	.navbar-collapse.navbar-ex1-collapse.collapsing {
		background-color: rgba(255, 255, 255, .9)
	}

	body.home .navbar-default .navbar-nav > li > a {
		color: #000
	}

	.block {
		border: 0px
	}

	#DateCountdown {
		display: none !important
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

	.home .hero p.datetime .fa {
		display: none
	}

	#MPAuxNav {
		display: none
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.hero .fa {
		display: none
	}

	.home .hero {
		padding-top: 140px
	}

	.hero h3 {
		font-size: 24px
	}

	.hero h3 em {
		display: block;
	}

	.row-blocks > div {
		border: 1px solid #C6C6C6;
		padding: 0px;
		margin-right: 15px;
		margin-left: 15px;
	}

	.row-blocks .block {
		margin-top: 0px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/* for nosticky nav pages faq etc */
body.no-sticky .stickyNav {
	position: static;
}

@media only screen and (min-width: 992px) {
	body.no-sticky h1#PageTitleH1 {
		margin-top: 0px !important;
		padding-top: 4em
	}

}

@media only screen and (max-width: 992px) {

	body.no-sticky div#MPOuter {
		padding-top: 0px !important;
	}

}

body {
	font-family: 'Open Sans' !important;
	font-size: 18px;
	line-height: 35px;
}

.header-section {
	position: fixed;
	width: 100%;
	/*background-color: rgba(255, 255, 255, 0.9);*/
	z-index: 1;

}

.top-bar {
	margin-top: 10px;
	font-size: 14px;
}

ul.topnav {

}

ul.topnav li {
	display: table-cell;
	line-height: 27px

}

ul.topnav li a {
	color: #ffffff;
	margin: 0px 5px;
	text-decoration: none;
	font-size: 14px;
}

.logo {
	padding: 5px;

}

.logo img {
	max-width: 200px;
	width: 100%
}

img.logomobile {
	display: none;
}

img.logodesktop {
	display: block
}

.navbar {
	margin-bottom: 0px;
}

.navbar-nav {
	float: none;
	text-align: center;
}

.navbar-default {
	background-image: none;
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin-top: 5px;

}

.navbar-nav > li {
	float: none;
	display: inline-block
}

.navbar-default .navbar-nav a {
	font-size: 18px;
	color: #555555
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
	/*background-color: rgba(1, 1, 1, 0.05);*/
	background-image: none;
	box-shadow: none;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
	padding-left: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-image: none;
	background-color: #eeeeee;
}

.dropdown-menu {
	border: none;
	box-shadow: none;
}

ul.dropdown-menu a {
	font-size: 13px !important;
}

ul.dropdown-menu li {

}

.dropdown-menu > li > a {
	text-decoration: none !important;
	text-align: left;
}

.navbar-nav li:last-child .dropdown-menu, .navbar-nav li:nth-last-child(2) .dropdown-menu {
	left: inherit;
	right: 0;
}

.navbar-nav > li > .dropdown-menu {
	min-width: 370px;
	padding: 20px;
	width: 510px;
	border: 0px;
}

.nav .dropdown-menu > li {
	border-bottom: 1px solid #c4c7c8;
	margin-bottom: 1em;
	float: left;
	width: 48%;
	page-break-inside: avoid;

}

.nav .dropdown-menu > li:nth-child(even) {
	float: right;
}

.dropdown-menu > li > a {
	padding: 3px 0px;
}

.dropdown-menu > li > a:hover, .nav.navbar-nav .dropdown-menu > ul.dropdown-menu li a:hover {
	background-image: none;
	background-color: #eeeeee;
	text-decoration: none
}

.navbar-nav .dropdown-menu > li > a {
	border-bottom: 0 solid #ccc;
	display: block;
	white-space: normal;
}

.nav.navbar-nav .dropdown-menu > ul.dropdown-menu li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.nav.navbar-nav .dropdown-menu > ul.dropdown-menu {
	margin-bottom: 5px;
	margin-top: -3px;
	padding: 0px;
}

.nav ul.dropdown-menu a {
	color: #ffffff;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
	background-color: #eee;
	background-image: none;
	color: #444
}

.btn.btn-primary.btn-search {
	background: transparent none repeat scroll 0 0;
	border: 1px solid white;
	float: right;
	font-size: 18px;
	height: 34px;
	line-height: 22px;
	margin-right: 70px;
	margin-top: -58px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 0px;
	color: #fff;
	padding-top: 5px
}

.btn.btn-primary.btn-search:hover {
	background-color: #fff;

}

.headerimage img {
	width: 100%;
}

.social-media, .search-area {
	margin-left: 20px;
}

.social-media {
	padding-top: 5px;
	line-height: normal
}

.fa {
	font-size: 20px;
	color: #ffffff;
	padding: 0px 2px
}

.search-area {
	border: 1px #ffffff solid;
	padding-left: 10px;
}

.search-area input {
	background-color: transparent;
	border: 0px #8d8d8a solid;
	width: 200px;
	line-height: 30px
}

.search-area button, .search-area button:hover {
	padding: 3px;
	background-color: transparent;
	background-image: none;
	text-shadow: none;
	border-color: transparent;
}

h1, h2, h3, h4 {
	font-family: "Roboto";
}

.pagetitle {
	margin-top: -80px;
	margin-left: 40px;
	color: #fff;
	margin-bottom: 70px;
}

.breadcrumb {
	background-color: #fff;
	padding: 8px 0px;
}

.breadcrumb li a {
	text-decoration: none

}

.breadcrumb li:last-child a {
	color: #888
}

.home .btn-primary, .block .btn-primary, a.btn.cta, .btn-cta {
	background-image: none;
	background-color: #f47700;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	margin-top: 1.5em;
	padding: 0.5em 2em;
	border-radius: 0px;
}

a.btn.cta:hover {
	background-color: #febd00;
	color: #000
}

blockquote::before, blockquote::after {
	content: '"';
	color: #fff;
	font-family: "Roboto";
	font-size: 50px;
}

blockquote::before, blockquote::after {
	color: #fff;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 5px;
	vertical-align: -0.4em;
}

blockquote::after {
	content: "â€";
	line-height: 10px;
	position: relative;
	top: 2rem;
}

blockquote {
	border-left: 0px;
	margin-top: 70px

}

.bluecontent {
	background-color: #003f5f;
	color: #fff;

}

.quoteby {
	padding-left: 1em;
}

.quoteby span {
	color: #febe10;
	font-style: normal;
}

.hstyle1 h2::after {
	background: #febe10 none repeat scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	margin: 15px auto 0;
	width: 65px;
}

.hstyle1 h2 {
	text-align: center
}

.block-content {
	padding: 4% 6%
}

.block {
	border: 1px solid #c6c6c6;
	margin-top: 1em;
	padding-bottom: 1em;
	text-align: center
}

.block img {
	width: 100%;
}

.block h3 {
	font-size: 20px;
	padding-left: 1em;
	padding-right: 1em;
}

.block h3, .block p {
	padding-left: 2em;
	padding-right: 2em;
}

.footer1 {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	line-height: normal;
	margin-top: 30px;
}

.app img {
	max-width: 185px;
	visibility: hidden;
}

a.app.apple {
	background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/apple-white.png");
}

a.app.apple:hover {
	background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/apple-hover.png");
}

a.app {
	background-size: cover;
	border: 1px solid #fff;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}

a.app.google {
	background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/google-white.png");
}

a.app.google:hover {
	background-image: url("https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/google-hover.png");
}

.add-area img {
	max-width: 600px;
}

.col-md-3.col-contact::before {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: -10px;
	position: absolute;
	top: 0;
	width: 1px;
}

.col-contact img {
	margin-left: -5px;
	max-width: 150px;
}

.graycontent {
	background: #5f6a72 none repeat scroll 0 0;
	padding: 3em 0 3.5em;

}

.footer {
	line-height: 25px
}

.footer li {
	list-style-type: none;
	text-align: left;

}

.footer li ul li {

	font-size: 14px;

}

.footer li a {
	color: #fff;

}

.footer li a.level1 {
	font-weight: bold;
	padding-bottom: 10px;
}

.footer ul ul {
	margin: 0px;
	padding: 0px
}

.list-inline > li {
	display: table-cell;
}

ul.level2 {
	margin-top: 10px;
}

.sponsorlinks {
	padding: 1em;

	margin-top: 40px;
}

.sponsorlinkscontent {
	border-top: 1px #fff solid;
	display: inline-block;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1.5em

}

.sponsorlinks, .sponsorlinks a {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

}

.sponsorlinks strong {
	display: inline-block;
	padding-right: 20px;
	font-weight: normal
}

.footer2 {
	font-size: 13px;
	padding: 1.3em 0 1.1em;
	line-height: normal
}

.footer2 a {
	color: #fff;
	font-weight: bold
}

.col-credits {
	text-align: right;
}

.col-credits .fa {
	font-size: 20px;
	padding: 0 8px;
	color: #fff;
}

.btn.btn-primary.btn-search {
	display: none;
}

@media (max-width: 767px) {

	.headerimage {
		display: none;
	}

	.pagetitle {
		margin-top: 100px;
		color: #333;
		margin-bottom: 0px;
	}

	.navbar-toggle {
		border-radius: 0;
		display: block;
		float: right;
		margin-top: -58px;
	}

	.nav .dropdown-menu > li {
		border-bottom: 0px solid #c4c7c8;
		margin-bottom: 0em;
		float: none;
		width: 100%;
		page-break-inside: avoid;

	}

	.navbar-nav > li > .dropdown-menu {
		padding: 0px;
	}

	.nav .dropdown-menu > li.active {
		background-color: #eee;
	}

	.nav .dropdown-menu > li {
		padding-left: 30px;
	}

	.nav .dropdown-menu > li:nth-child(even) {
		float: none;
	}

	.navbar-nav {
		text-align: left;
		background-color: #fff;

	}

	.navbar-nav > li {
		display: list-item;
		float: none;
	}

	.top-bar .search-area, .top-bar .social-media, .top-bar .topnav {
		display: none;
	}

	.header-section {
		background-color: transparent;

	}

	.top-bar {
		background-color: #333;
		margin-top: 0px;

	}

	img.logodesktop {
		display: none;
	}

	img.logomobile {
		display: block
	}

	img.logomobile {
		width: 100%;
		max-width: 150px
	}

	.graycontent {
		padding: 1em 0
	}

	.footer .list-inline li {
		display: list-item

	}

	.footer li {

		font-size: 16px;
		line-height: 30px;

	}

	.footer ul ul {
		display: none;
	}

	.sponsorlinkscontent {
		padding-left: 1em;
		padding-right: 1em;
	}

	.col-event img {
		max-width: 200px;
	}

	.col-credits {
		text-align: left;
	}

	.btn.btn-primary.btn-search {
		display: block;
	}

	.col-md-3.col-contact::before {
		width: 0px;
	}
}

h2 {
	font-size: 42px;
}

h2 {
	text-align: center;
}

h2, .hstyle1 h2 {
	bottom: 1em;
	position: relative;
}

h2::after, .hstyle1 h2::after {
	content: "";
	display: block;
	height: 2px;
	background: #FEBE10;
	width: 65px;
	margin: 15px auto 0px;
}

.btn-primary, .block .btn-primary, a.btn.cta, .btn-cta {
	background-color: #F47700;
	border: 0px none;
	color: #fff;
	font-size: 18px;
	padding: .5em 2em;
	margin-top: 1.5em;
}

.btn {
	border-radius: 0px !important;
}

.btn-primary:hover, .block .btn-primary:hover, .btn.cta:hover {
	background-color: #FEBD00;
	color: #004060;
}

.hero {
	background-position: top center;
	background-image: url(https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw2018_hero%20image.jpg);
	padding-top: 170px;
}

.hero.pad1 {
	background-color: transparent;
}

.hero {
	padding-bottom: 4em;
}

.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
}

.time_circles > div {
	position: absolute;
	text-align: center;
}

.time_circles > div > span {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Century Gothic', Arial;
	font-size: 300%;
	margin-top: 0.4em;
	font-weight: bold;
}
